@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* .rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
} */


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
}

p {
    font-weight: normal;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

p:hover, ul li:hover, a:hover, dd:hover, figcaption:hover {
    cursor: url("/img/pointer.png"), pointer;
}

body {
    cursor: url("/img/cursor.png"), auto;
    max-width: 1366px;
    min-width: 1350px;
}

/* Estilos del header */

header {
    width: 100%;
    display: inline-block;
    background-color: #FFD5BE;
}

header h1 {
    display: inline-block;
    padding: 1rem 2rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: 100;
    font-size: 1.2rem;
    color:#EE3000;
}

header nav {
    text-align: center;
    display: inline-block;
}

header ul {
    display: inline-block;
    list-style-type: none;
}

header ul li{
    display: inline-block;
    padding: 1rem;
}

header ul li a{
    text-decoration: none;
    color: #EE3000;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

header ul li a:hover{
    color: #EE3000;
}

/* Estilos del inicio */

.container-inicio{
    background-color: #FFD5BE;
    background-image: url('./img/waffle-inicio.png');
    background-size: 1100px auto;
    background-position: right -50px bottom -150px;
    background-repeat: no-repeat;
    height: 88vh;
}

#inicio {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 12%;
    padding-left: 7%;
}


#inicio h2{
    font-size: 4rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: bolder;
    width: 50%;
    letter-spacing: 10px;
    color: #EE3000;
}

#inicio p{
    min-width: 500px;
    max-width: 600px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* Estilos de la historia */

#historia{
    height: 100%;
    padding: 60px;
    padding-bottom: 2%; 
    margin: 0;
    background-color: #EE3000;
    display: inline-block;
    align-content: center;
}

#historia .container-texto{
    display: inline-block;
    width: 50%;
}

#historia h2{
    font-size: 4rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: bolder;
    color: #FFD5BE;
    margin: 0;
}

#historia p{
    width: 50vw;
    color: #FFD5BE;
    font-family: "Inter", sans-serif;
    padding: 10px 0;
}

#historia img{
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 24px;
    width: 35%;
    vertical-align: top;
    display: inline-block;
}

/* Divisor css sacado de una pagina externa*/

.custom-shape-divider-bottom-1778283520 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1778283520 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1778283520 .shape-fill {
    fill: #EE3000;
}

.custom-shape-divider-top-1778274372 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1778274372 svg {
    position: relative;
    display: block;
    width: calc(143% + 1.3px);
    height: 111px;
}

.custom-shape-divider-top-1778274372 .shape-fill {
    fill: #EE3000;
}

/* Estilos de Receta */

#receta {
    padding-top: 100px;
    position: relative;
    text-align: center;
    background-color: #FFD5BE;
}

#receta h2 {
    font-size: 3rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: bolder;
    color: #EE3000;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#receta h3 {
    font-size: 2.5rem;
    font-family: "Rubik Mono One", monospace;
    color: #ff653e;
}

.figure-container {
    text-align: center;
    display: inline-block;
}

#receta figure {
    display: inline-block;
    text-align: center;
    margin: 10px;
    margin-bottom: 0;
    vertical-align: top;
}

#receta figure img {
    width: 90px;
    height: 90px;
    background-color: #ff653e;
    border-radius: 50%;
}

#receta figure img:hover {
    background-color: transparent;
    transform: scale(1.3,1.3);
}

#receta figure figcaption {
    width: 80px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.preparacion {
    display: inline-block;
    width: 45%;
    background-color: #FFD5BE;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    vertical-align: top;   
    box-sizing: border-box;
}

.pasos-container {
    width: 100%;
    display: inline-block;
}

.pasos-container img{
    display: inline-block;
    width: 500px;
    margin: 0;
    align-items: center;
}

.pasos-container img:hover {
    animation-name: platoRotador;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

/*Animacion img*/
@keyframes platoRotador {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/**/

#receta .preparacion h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2rem;
    font-family: "Rubik Mono One", monospace;
    color: #EE3000;
}

.preparacion ol {
    padding-left: 40px; 
    font-family: "Inter", sans-serif;
}

.preparacion li {
    margin-bottom: 15px;
    color: #EE3000;
    font-weight: bold;
    font-size: 1.2rem;
}

.preparacion li p {
    color: #333;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
    margin: 5px 0;
    display: block;
}

/*Parte comunidad*/

#comunidad {
    padding: 8% 7%;
    text-align: center;
    position: relative;

    background-color: #EE3000;
    background-image: url('./img/waffle-bg.png');
    background-repeat: repeat; 
    background-size: 64px;
    background-attachment: fixed;
}

#comunidad h3 {
    font-family: "Rubik Mono One", monospace;
    color:#FFD5BE;
    margin-bottom: 30px;
    font-size: 3rem;
}

.comunidad-opiniones {
    width: 100%;
}

.opinion-individual {
    display: inline-block;
    width: 45%;
    margin: 1%;
    padding: 20px;
    background-color:#FFD5BE;
    border: 3px solid #ffded5;
    border-radius: 15px;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 1rem; 
    text-align: left;
}

#comunidad dt {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    color: #EE3000;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#comunidad dd {
    font-family: "Inter", sans-serif;
    font-style: italic;
    margin-left: 0;
}

/*Opinion personal*/

#opinion {
    width: 80%;
    padding: 20px;
    margin: 0% auto;
}

#opinion h3 {
    font-family: "Rubik Mono One", monospace;
    color: #FFD5BE;
    text-align: center;
}

blockquote {
    background-color: #FFD5BE;
    border-left: 8px solid #ff653e;
    margin: 0;
    padding: 20px 40px;
    font-family: "Inter", sans-serif;
}

blockquote p {
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

strong {
    font-weight: 400;
}

/*divider css*/

.custom-shape-divider-bottom-1778273678 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1778273678 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 117px;
}

.custom-shape-divider-bottom-1778273678 .shape-fill {
    fill: #FFD5BE; 
}

/*footer*/

#contacto {
    background-color: #FFD5BE;
    color: #333;
    padding: 50px 0;
    text-align: center;
    font-family: "Inter", sans-serif;
}

#contacto div {
    display: inline-block;
    width: 30%;
    vertical-align: top; 
    text-align: center;
    font-size: 1rem;
}

#contacto img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #EE3000;
}

#contacto h4 {
    color: #EE3000;
    font-family: "Rubik Mono One", monospace;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

#contacto p {
    margin-bottom: 10px;
}

#contacto a {
    display: block;
    color: rgb(238, 48, 0);
    text-decoration: none;
    margin-bottom: 10px;
}

#contacto a:hover{
    color: rgb(238, 48, 0, 0.5);
}