@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* .rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
} */


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


* {
    margin: 0;
    padding: 0;
}

/* Estilos del header */

header {
    width: 100%;
    display: inline-block;
    background-color: #FFD5BE;
}

header h1 {
    display: inline-block;
    padding: 1rem 2rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: 100;
    font-size: 1.2rem;
    color:#EE3000;
}

header nav {
    text-align: center;
    display: inline-block;
}

header ul {
    display: inline-block;
    list-style-type: none;
}

header ul li{
    display: inline-block;
    padding: 1rem;
}

header ul li a{
    text-decoration: none;
    color: #EE3000;
    font-family: "Inter", sans-serif;
}

header ul li a:hover{
    color: #EE3000;
}

/* Estilos del inicio */

.container-inicio{
    background-color: #FFD5BE;
    background-image: url('./img/waffle-inicio.png');
    background-size: 1100px auto;
    background-position: right -50px bottom -150px;
    background-repeat: no-repeat;
    height: 90vh;
}

#inicio {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 12%;
    padding-left: 7%;
}


#inicio h2{
    font-size: 4rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: bolder;
    width: 50%;
    letter-spacing: 10px;
    color: #EE3000;
}

#inicio p{
    min-width: 500px;
    max-width: 600px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* Estilos de la historia */

#historia{
    height: 100vh;
    background-color: #EE3000;
    display: inline-block;
}

#historia .container-texto{
    display: inline-block;
    padding: 30px 50px;
}

#historia h2{
    font-size: 4rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: bolder;
    color: #FFD5BE;
}

#historia p{
    width: 500px;
    color: #FFD5BE;
    font-family: "Inter", sans-serif;
    padding: 10px 0;
}

#historia img{
    padding-left: 30px;
    width: 50%;
    display: inline-block;
}

/* Divisor css */

.custom-shape-divider-bottom-1776812074 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1776812074 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1776812074 .shape-fill {
    fill: #EE3000;
}

/* Estilos de Receta */

#receta h2{
    font-size: 3rem;
    font-family: "Rubik Mono One", monospace;
    font-weight: bolder;
    color: #EE3000;
}

#receta figure{
    display: inline-block;
    text-align: center;
}

#receta figure img{
    width: 90px;
    height: 90px;
    background-color: #EE3000;
    border-radius: 50%;
}